body{
    background-color: rgb(197, 212, 226);
}
section{
    /* justify-content: center; */
    /* padding: 100px; */
    /* margin-left:60%; */
    margin-bottom: 100%;
}
.dc{
    padding-bottom: 15px;
    /* justify-content: center; */
}
form{
    /* justify-content: center; */
    background-color: #fff;
    height: 100px;
    width: 100px;
    border: 300px solid white;
    padding-right: 57px;
    border-width: 100px;

}
input{
    justify-content: center;
    border:1px solid blue;
    border-radius: 10px;
    font-style:Arial;
    height:3.5cap;
    width: 20cap;
    font-weight: bolder;
    font-size: larger;

}